CMS_ACCESS_KEY_ID="" #S3 access key ID (required)
CMS_SECRET_ACCESS_KEY_ID="" #S3 secret access key ID (required)
CMS_DEFAULT_REGION="" #S3 region (required)
MAILCHIMP_API_KEY="" #if site is using mailchimp forms (optional)
ZAPIER_URL="" #if site is using zapier forms (optional)
MAKE_URL="" # make.com webhook to allow site to use make for forms (required)
NEXT_PUBLIC_VERCEL_TEAM_ID="" #ID of vercel team (required)
NEXT_PUBLIC_VERCEL_AUTH_TOKEN="" #Vercel auth token (required)
VERCEL_PROJECT_ID="" #ID of vercel project (required)
CREATE_SITE_DOMAINS="1" #Option to publish site domain when creating a landing page (1 or 0)

