body {
    font-family: Open Sans;
}

.hd-font {
    font-family: Open Sans;
}

.txt-font {
    font-family: Open Sans;
}

.feat-font {
    font-family: Open Sans;
}

:root {
    --logo: #c15656;
    --hd: #13141a;
    --sh: #13141a;
    --txt: #13141a;
    --link: #ffffff;
    --link-hover: #000000;
    --btn-txt: #13141a;
    --btn-background: #ffffff;
    --txt-accent: #ffffff;
    --hero-sh: #ffffff;
    --hero-txt: #ffffff;
    --hero-btn-txt: #3d5627;
    --hero-btn-background: #ffffff;
    --hero-link: #dddddd;
    --hero-link-hover: transparent;
    --caption-txt: #ffffff;
    --caption-background: rgba(121, 142, 103, 0.5);
    --nav-txt: #3d5627;
    --nav-hover: #3d5627;
    --nav-current: #13141a;
    --main-background: #ffffff;
    --content-background: rgba(255, 255, 255, 1);
    --header-background: rgba(255, 255, 255, 1);
    --social-background: #719056;
    --accent-background: rgba(121, 142, 103, 1);
    --hero-background: rgba(121, 142, 103, 1);
    --footer-background: #3d5627;
    --footer-txt: #ffffff;
    --footer-link: #ffffff;
    --promo-txt: #000000;
    --promo: #719056;
    --promo2: #4e6738;
    --promo3: #000000;
    --promo4: #95b479;
    --promo5: #b64848;
    --promo6: #ffffff;
    --promocomp: #755690;
    --promoinv1: #8e6fa9;
    --promolighten: #bed0af;
    --promoHSL: hsl(92, 25%, 45%);
}

body .txt-font .dsc a {
    color: var(--link);
}

.accent-txt {
    color: var(--txt-accent);
}

.txt-color {
    color: var(--txt);
}

.txt-color-hd {
    color: var(--hd);
}

.txt-color-sh {
    color: var(--sh);
}

.navLink:hover {
    color: var(--nav-hover);
}

.navLink {
    color: var(--nav-txt);
}

.social-icon {
    color: var(--nav-txt);
}

.social-icon:hover {
    background-color: var(--btn-background);
    color: var(--btn-txt);
}

.footer-icon:hover {
    background-color: var(--nav-hover);
}

.current-page {
    color: var(--nav-current);
}

.caption-txt {
    color: var(--caption-txt);
}

.box-links {
    color: var(--link);
}

.box-links:hover {
    color: var(--nav-hover);
}

.testimonial-txt-color {
    color: var(--btn-background);
}

.testimonials-mod.well .hero.item,
.testimonials-mod.well .hero .desc,
.card-mod .hero.item,
.card-mod .hero .desc,
.photogallery-mod.well .hero.item,
.photogallery-mod.well .hero .desc {
    color: var(--hero-txt);
}
.testimonials-mod.well .hero .stars,
.testimonials-mod.well .hero .quotes,
.testimonials-mod.well .hero .hd,
.testimonials-mod.well .hero .sh,
.card-mod .hero .stars,
.card-mod .hero .quotes,
.card-mod .hero .hd,
.card-mod .hero .sh,
.photogallery-mod.well .hero .stars,
.photogallery-mod.well .hero .quotes,
.photogallery-mod.well .hero .hd,
.photogallery-mod.well .hero .sh {
    color: var(--txt-accent);
}

.btn_1 {
    color: var(--btn-txt);
    background-color: var(--btn-background);
}

.btn_1:hover {
    color: var(--btn-background);
    background-color: var(--btn-txt);
}

.btn_2 {
    color: var(--link);
    border-color: var(--link);
}

.btn_2:hover {
    color: var(--link-hover);
    border-color: var(--link-hover);
}

.btn_alt {
    color: var(--promo);
    background-color: var(--btn-txt);
}

.btn_alt:hover {
    color: var(--btn-txt);
    background-color: var(--promo);
}

.close-toggle {
    color: var(--btn-txt);
    background-color: var(--btn-background);
}

.close-toggle:hover {
    color: var(--btn-background);
    background-color: var(--btn-txt);
}

.btn_p4.btn_1 {
    background-color: var(--promo4);
    color: var(--btn-txt);
}

.btn_p4.btn_1:hover {
    color: var(--promo4);
    background-color: var(--btn-txt);
}

.btn_p3.btn_1 {
    background-color: var(--promo3);
    color: var(--btn-txt);
}

.btn_p3.btn_1:hover {
    color: var(--promo3);
    background-color: var(--btn-txt);
}

.btn_p2.btn_1 {
    background-color: var(--promo2);
    color: var(--btn-txt);
}

.btn_p2.btn_1:hover {
    color: var(--promo2);
    background-color: var(--btn-txt);
}

.btn_p4.btn_2 {
    border-color: var(--promo4);
    color: var(--promo4);
}

.btn_p3.btn_2 {
    border-color: var(--promo3);
    color: var(--promo3);
}

.btn_p2.btn_2 {
    border-color: var(--promo2);
    color: var(--promo2);
}

.btn_p4.btn_2:hover,
.btn_p3.btn_2:hover,
.btn_p2.btn_2:hover {
    border-color: var(--link-hover);
    color: var(--link-hover);
}

.hero .one-btn-w .btn_1.btn_w {
    color: var(--btn-txt);
    background-color: var(--hero-btn-background);
}

.border-background {
    background-color: var(--accent-background);
}

.hero-background {
    background-color: var(--promo);
}

.content-background {
    background-color: var(--content-background);
}

.footer {
    background-color: var(--footer-background);
    color: var(--footer-txt);
}

.header-background {
    background-color: var(--header-background);
}

.social-bar-background {
    background-color: var(--social-background);
}

.promo-background {
    background-color: var(--promo);
}

.cta {
    background-color: var(--promo);
}

.cta:hover {
    background-color: var(--promo2);
}

.testimonials-mod .hero-background,
.card-mod .hero-background {
    background-color: var(--hero-background);
}

.caption-background {
    background-color: var(--caption-background);
}

/*---------------------Custom Code--------------------*/

.tsSC .social-media-links a {
    color: #fff !important;
}

.tsSC .social-media-links a:hover {
    color: #000 !important;
}

.social-bar .social-icon {
    color: #fff;
}

/*--
  .hd, * {
    font-family: 'Kenia', sans-serif !important;
  }
  --*/
